.cards-al{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 !important;
    padding: 0 !important;
}

.card{
    margin-top: 24px;
    margin-right: 24px;
    min-width: 300px;
    min-height: 400px;
    max-height: 400px;      
}

.img{
    max-height: 150px;

}
.card-text{
    text-align: justify;

}

.title-overflow {
    overflow: hidden;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;  */
    max-height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.news-details{
    max-height: 123px;  
    overflow: hidden; 
}