<div class="">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">News Utility</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input
            id="searchInput"
            class="form-control me-2"
            type="search"
            placeholder="Search article"
            aria-label="Search"
            (input) = "searchCards()"
            />
          <button
            id="searchButton"
            class="btn btn-outline-success"
            type="submit"
            (click)="searchCards()"
          >
            Search
          </button>
        </form>
        <div class="fil-pos">
          <div class="filter">
            <label for="countryFilter">Country:</label>
            <select class="form-select" id="countryFilter">
              <option>All</option>
              <option [value]="country" *ngFor="let country of countries">
                {{ country }}
              </option>
            </select>
          </div>
          <div class="filter">
            <label for="fromDate">From:</label>
            <input
              type="date"
              class="form-control"
              id="fromDate"
              [(ngModel)]="filter.fromDate"
              (change)="applyFilters()"
            />
          </div>
          <div class="filter">
            <label for="toDate">To:</label>
            <input
              type="date"
              class="form-control"
              id="toDate"
              [(ngModel)]="filter.toDate"
              (change)="applyFilters()"
            />
          </div>
        </div>

        <!-- <div>
              <h3>Filtered Cards:</h3>
              <ul>
                <li *ngFor="let card of filteredCards">{{ card }}</li>
              </ul>
            </div> -->
      </div>
    </div>
  </nav>

  <div class="cards-al">
    <div class="" *ngFor="let item of filteredCards">
      <div class="card" style="width: 18rem">
        <img src="{{ item.urlToImage }}" class="card-img-top img" alt="image" />
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ item.url }}" target="_blank" class="">{{
              item.title
            }}</a>
          </h5>
          <h6>Published by: {{ item.author }}</h6>
          <p class="card-text">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
